@import "mixins";

.about_member {
  @include member;
}

.sm_heading.name {
  font-size: 1.2em;
}

@media (max-width: 1200px) {
  .about_member {
    .membership {
      width: 90%;
    }
  }
}

@media (max-width: 800px) {
  .about_member {
    .membership {
      padding: 50px 20px;

      &_text {
        grid-template-columns: 1fr;

        button {
          margin-left: 0px;
        }
      }
    }
  }
}

.economy {
  &_grid {
    .arrow {
      li {
        display: flex;

        .text {
          padding-top: 12px;
          padding-left: 6px;
        }
      }
    }
  }
}

.team {
  background: url(../images/team.png) no-repeat center center;
  .team_body {
    @include latest;
  }
}

@media (max-width: 718px) {
  .team {
    background: url(../images/team.png) repeat top left;
    .team_body {
      width: 70%;
      margin: auto;
    }
  }
}

.latest_news.team {
  background: none;
  padding-bottom: 100px;
  .news {
    width: 90%;
    padding-top: 0px;

    .thin {
      width: 70%;
    }

    .cards {
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      margin: auto;
      width: 100%;
      grid-row-gap: 60px;

      .card {
        .sm_heading {
          margin-top: 30px;
          padding-left: 30px;
        }

        .bold {
          margin-bottom: 10px;
          padding-left: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .latest_news.team {
    .news {
      .thin {
        width: 90%;
      }
    }
  }
}

.other {
  justify-content: flex-start !important;
}

.green_economy {
  background: url(../images/greeneco.png);
  color: white;
  margin: 50px 0px;
  padding: 30px 0px;
}

@media (max-width: 800px) {
  .green_economy {
    .img {
      display: none;
    }
  }

  .history {
    display: none;
  }
}

.mission_vision_value {
  width: 80%;
  margin: 50px auto 100px auto;

  .buttons {
    margin-bottom: 20px;
    .mission_btn {
      cursor: pointer;
      font-family: Roboto;
      font-size: 1em;
      padding: 10px 65px;
      background: white;
      border: 1px solid #c4c4c4;
      border-radius: 8px 8px 0 0;
    }
  }

  .mission_btn.active {
    color: white;
    background: #40ba7b;
  }

  .mission_text {
    display: none;
    width: 40%;
    margin-left: 40px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-weight: 300;

        .iconify {
          position: relative;
          top: 7px;
          margin-right: 10px;
        }
      }
    }
  }

  .mission_text.show {
    display: block;
  }
}

@media screen and (max-width: 1005px) {
  .mission_vision_value {
    .mission_text {
      width: 70%;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 690px) {
  .mission_vision_value {
    .buttons {
      .mission_btn {
        padding: 10px 20px;
      }
    }

    .mission_text {
      width: 70%;
    }
  }
}

.advisory_council {
  width: 74%;
  margin: auto;

  .thin {
    width: 86%;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.popup_modal {
  display: none;
  background: white;
  width: 50%;
  margin: auto;
  padding: 50px 30px 10px 30px;
  border-radius: 10px;

  .grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;

    .bold {
      margin-bottom: 5px;
    }

    .thin {
      margin-top: 20px;
    }

    .image {
      img {
        height: auto;
        width: 100%;
      }
    }
  }

  .close_btn {
    margin-top: 80px;
    text-align: center;

    .close_popup {
      padding: 10px 30px;
      background: #40ba7b;
      color: white;
      border: none;
      border-radius: 8px;
      font-family: "Roboto", sans-serif;
      font-size: 1em;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 1220px) {
  .popup {
    .popup_modal {
      width: 80%;
    }
  }
}

.popup.show {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_modal.show {
  display: block;
}
