@import "mixins";

.about_member {
  @include member;
}

.sm_heading.name {
  font-size: 1.2em;
}

@media (max-width: 1200px) {
  .about_member {
    .membership {
      width: 90%;
    }
  }
}

@media (max-width: 800px) {
  .about_member {
    .membership {
      padding: 50px 20px;

      &_text {
        grid-template-columns: 1fr;

        button {
          margin-left: 0px;
        }
      }
    }
  }
}

.center_heading {
  padding-top: 80px;
  width: 100%;
  text-align: center;

  .md_heading {
    width: 80%;
    margin: auto;
  }
}

.economy {
  &_grid {
    .arrow {
      li {
        display: flex;

        .text {
          padding-top: 12px;
          padding-left: 6px;
        }
      }
    }

    .economy_description.about {
      padding-top: 30px;
    }
  }
}

@media (max-width: 597px) {
  .economy {
    &_grid {
      .economy_description.about {
        padding-top: 0;
      }
    }
  }
}

.team {
  background: url(../images/team.png) no-repeat center center;
  .team_body {
    @include latest;
  }
}

@media (max-width: 718px) {
  .team {
    background: url(../images/team.png) repeat top left;
    .team_body {
      width: 70%;
      margin: auto;
    }
  }
}

.latest_news.team {
  background: none;
  padding-top: 90px;
  .news {
    width: 90%;
    padding-top: 0px;

    .thin {
      width: 70%;
    }

    .cards {
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      margin: auto;
      width: 100%;
      grid-row-gap: 60px;

      .card {
        cursor: pointer;
        .sm_heading {
          margin-top: 30px;
          font-size: 1.3em;
          padding-left: 10px;
        }

        .bold {
          margin-bottom: 10px;
          padding-left: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .latest_news.team {
    .news {
      .thin {
        width: 90%;
      }
    }
  }
}

.other {
  justify-content: flex-start !important;
}

.green_economy {
  background: url(../images/greeneco.png);
  color: white;
  margin: 50px 0px;
  padding: 30px 0px;
}

@media (max-width: 800px) {
  .green_economy {
    .img {
      display: none;
    }
  }

  .history {
    display: none;
  }
}

.mission_vision {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border: 1px solid #40ba7b;
  margin-top: 40px;
  margin-bottom: 60px;
  @include icon_list;

  .sm_heading {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 10px;
  }

  ul {
    width: 60%;
    margin: auto;
  }

  .thin {
    text-align: center;
  }

  .green,
  .white {
    padding: 10px;
  }

  .green {
    background: #40ba7b;
    color: white;

    .sm_heading {
      color: white;
    }
  }
}

@media (max-width: 1000px) {
  .mission_vision {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 50px auto;

    ul {
      width: 30%;
    }
  }
}

@media (max-width: 698px) {
  .mission_vision {
    ul {
      width: 70%;
    }
  }
}

.advisory_council {
  width: 74%;
  margin: 100px auto 0 auto;

  .thin {
    width: 86%;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup_modal {
  display: none;
  background: white;
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  overflow: auto;

  .grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;

    .bold {
      margin-bottom: 5px;
    }

    .sm_heading {
      font-size: 1.3em;
    }

    .thin {
      margin-top: 20px;
    }

    .image {
      img {
        height: auto;
        width: 100%;
      }
    }
  }

  .close_btn {
    margin-top: 50px;
    text-align: center;

    .close_popup {
      padding: 10px 30px;
      background: #40ba7b;
      color: white;
      border: none;
      border-radius: 8px;
      font-family: "Roboto", sans-serif;
      font-size: 1em;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1220px) {
  .popup {
    .popup_modal {
      width: 80%;
      padding: 16px;

      .close_btn {
        margin-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 678px) {
  .popup {
    .popup_modal {
      width: 90%;
      padding: 15px;

      .grid {
        grid-template-columns: 1fr;

        .image {
          width: 200px;
          height: 200px;
        }
      }

      .close_btn {
        margin-top: 15px;
      }
    }
  }
}

.popup.show {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_modal.show {
  display: block;
}
