@import "mixins";

.economy {
  @include icon_list;
}

.header.agenda {
  background: url(../images/agenda.png) center center scroll no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.agenda_wrapper {
  width: 100%;
  background: url(../images/member.png) no-repeat center bottom;
  background-size: cover;
  padding-top: 20px;
  .agenda_news {
    @include latest;
  }
}

.agenda_member {
  @include member;
}

@media (max-width: 1200px) {
  .agenda_member {
    .membership {
      width: 90%;
    }
  }
}

@media (max-width: 800px) {
  .agenda_member {
    .membership {
      padding: 50px 20px;

      &_text {
        grid-template-columns: 1fr;

        button {
          margin-left: 0px;
        }
      }
    }
  }
}

.key_focus {
  @include black_green;
  color: white;
  background: #858585;
  background: linear-gradient(
      175deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgba(17, 1, 1, 0) 100%
    ),
    url(../images/bottom.png) no-repeat bottom right;

  .number_cards {
    @include number_cards;
  }
}

@media (max-width: 619px) {
  .key_focus {
    width: 100%;
  }
}

.action_words {
  width: 75%;
  margin: auto;
  .number_cards {
    @include number_cards;
  }
}

.thin.text {
  margin-bottom: 10px;
}
