.contact {
  padding: 40px 30px;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    .form {
      color: white;
      width: 60%;
      margin: auto;
      background: #40ba7b;
      box-shadow: 11px 12px 25px -10px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 11px 12px 25px -10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 11px 12px 25px -10px rgba(0, 0, 0, 0.2);

      padding: 20px 0 20px 20px;

      .btn {
        width: 90%;
      }

      label,
      input {
        display: block;
      }

      label {
        padding-bottom: 4px;
        font-weight: 600;
        font-size: 0.8em;
      }

      input {
        width: 90%;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 4px;

        border: none;
      }

      textarea {
        width: 90%;
        border-radius: 4px;
        border: none;
        padding: 5px;
        font-family: "Roboto", sans-serif;
      }

      button {
        width: 100%;
        font-family: "Roboto", sans-serif;
        padding: 10px;
        font-size: 0.97em;
        font-weight: 600;
        margin-top: 12px;
        border-radius: 4px;
        border: none;
        color: #40ba7b;
        background: white;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .contact {
    .grid {
      .form {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 969px) {
  .contact {
    .grid {
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 30px;
      width: 90%;
      margin: auto;
      .form {
        margin: 10px 0px;
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 890px) {
  .contact {
    .grid {
      grid-template-columns: 1fr;

      .form {
        width: 75%;
      }
    }
  }
}

@media screen and (max-width: 593px) {
  .contact {
    padding: 40px 10px;
    .grid {
      .form {
        width: 100%;
      }
    }
  }
}

.iconify.social {
  position: relative;
  background: transparent;
  margin-bottom: 10px;
}

.iconify.social:hover {
  color: #40ba7b;
  cursor: pointer;
}

.contact_icons {
  margin-top: 30px;
  padding-left: 70px;

  &_item {
    display: flex;
    margin-bottom: 20px;
  }

  .icon_item {
    font-size: 1em;
    // color: white;
    padding-left: 10px;
    padding-top: 5px;

    a {
      text-decoration: none;
      color: black;
    }

    a:hover {
      color: #40ba7b;
    }
  }

  .social_icons {
    display: flex;
    padding-top: 50px;

    .item {
      margin-right: 10px;
    }
  }
}

@media (max-width: 890px) {
  .contact_icons {
    padding-left: 10px;
    .social_icons {
      padding-top: 0px;
    }
  }
}
