@import "mixins";

.header.greenstart {
  background: url(../images/yoebg.png) center center scroll no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: fill;
}

.promo {
  margin: 30px 40px 20px 40px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1.5fr 1fr;
}
.greenstart_ad {
  // width: 50%;
  margin: auto;

  .md_heading {
    color: #40ba7b;
    // margin-top: 80px;
    width: 100%;
    // text-align: center;
  }

  // .bold {
  //   text-align: center;
  //   width: 70%;
  //   margin: auto;
  //   padding-bottom: 20px;
  // }

  ul {
    list-style: none;
    padding: 0;
    // width: 30%;
    // margin: auto;

    li {
      font-weight: 600;
      margin-top: 10px;

      .iconify {
        position: relative;
        top: 7px;
        margin-right: 10px;
      }
    }
  }

  .btn {
    // width: 30%;
    margin: 40px auto 0 auto;
  }
}

@media (max-width: 1235px) {
  .promo {
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .embed {
    padding-top: 20px;
    height: 40vh;
  }
}

// @media (max-width: 1235px) {
//   .greenstart_ad {
//     width: 80%;
//   }
// }

// @media (max-width: 662px) {
//   .greenstart_ad {
//     width: 80%;

//     .btn {
//       width: 60%;
//       // text-align: center;
//     }
//   }
// }

// @media (max-width: 653px) {
//   .greenstart_ad {
//     .md_heading {
//       margin-top: 40px;
//     }

//     ul {
//       width: 60%;
//     }

//     .bold {
//       width: 90%;
//       padding-bottom: 10px;
//     }
//   }
// }

.economy.unemployment {
  margin-top: 60px;
  background: none;
  padding-bottom: 10px;

  .md_heading {
    width: 100%;
    color: #40ba7b;
  }
}

@media screen and (max-width: 800px) {
  .economy.economy.unemployment {
    .economy_grid {
      .img {
        height: 40vh;
        position: relative;
        top: -20px;
      }
    }
  }
}

.mission_wrapper {
  background: #40ba7b;
  padding: 20px 0;

  .economy.mission {
    background: transparent;
    color: white;

    button {
      border: none;
      padding: 15px 0;
      color: #40ba7b;
    }
  }
}

@media screen and (max-width: 800px) {
  .mission_wrapper {
    .economy_grid {
      .img {
        height: 40vh;
        position: relative;
        top: -20px;
      }
    }
  }
}

.economy.approach {
  padding-top: 20px;
  background: url(../images/landingpagebg.png) no-repeat bottom right;

  .md_heading {
    width: 100%;
    color: #40ba7b;
  }

  .btn {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 800px) {
  .economy.approach {
    .img {
      display: none;
    }
  }
}

.benefit {
  width: 65%;
  margin: 60px auto;

  .md_heading {
    color: #40ba7b;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .benefit {
    width: 80%;
  }
}

.agenda_wrapper.main {
  background: none;
  .manifesto {
    background: linear-gradient(
        169deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 35%,
        rgba(17, 1, 1, 0) 100%
      ),
      url(../images/Group.png) right bottom;
    @include black_green;
    @include icon_list_sm;
    margin-top: 40px;
    margin-bottom: 0;

    ul,
    .md_heading {
      color: white;
    }

    ul {
      margin-bottom: 50px;
    }

    button {
      margin-bottom: 100px;
    }
  }
}

.approachngr {
  background: #40ba7b;
  color: white;
  padding: 30px 50px;

  .md_heading {
    margin-bottom: 70px;
    text-align: center;
    width: 100%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 50px;
    @include icon_list;

    ul {
      width: 90%;
      margin: auto;
      li {
        margin-left: 0;
      }
    }

    .big {
      font-weight: 600;
    }

    // .image {
    //   width: 20%;

    //   img {
    //     height: 100%;
    //     width: 100%;
    //     object-fit: contain;
    //   }
    // }

    .big,
    .image {
      margin-bottom: 10px;
      margin-left: 50px;
    }
  }
}
