@import "mixins";

.header.bg {
  background: url(../images/memberbg1.png) center center scroll no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.big_btn.all {
  padding: 8px 25px;
}

.economy.bg_text {
  margin-top: 5px;
}

.founding_members {
  margin: 100px 0;

  .md_heading {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
  }
  .img_grid {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    width: 80%;
    text-align: center;
    margin: auto;

    .image {
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.join {
  background: url(../images/greeneco.png) bottom;
  color: white;
  text-align: center;
  padding: 30px 0 50px 0;

  .md_heading {
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
  }

  .thin {
    margin-bottom: 80px;
  }

  .md_btn {
    border: none;
    padding: 10px 20px;
  }
}

.agenda_wrapper.news {
  background: none;
}

.membership_category {
  width: 80%;
  margin: 60px auto;

  .wrapper {
    width: 90%;
    margin: 0 auto;

    .grid {
      display: grid;
      grid-gap: 50px;
      grid-template-columns: 1fr 1fr;

      .item {
        display: grid;
        grid-template-rows: 1fr 2fr;

        .thin {
          width: 70%;
        }

        .md_heading {
          width: 100%;
          color: #40ba7b;
        }
      }
    }
  }

  .btn_all {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .membership_category {
    .wrapper {
      width: 100%;
      .grid {
        grid-gap: 20px;
        .item {
          .thin {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .membership_category {
    .wrapper {
      width: 100%;
      .grid {
        grid-template-columns: 1fr;

        .item {
          .thin {
            width: 100%;
          }
        }
      }
    }

    .big_btn.all {
      position: relative;
      top: -50px;
    }
  }
}

.promotion {
  width: 80%;
  margin: 150px auto;

  .md_heading {
    color: #40ba7b;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 969px) {
  .promotion {
    margin: 0px auto 50px auto;
  }
}

@media (max-width: 719px) {
  .economy {
    &_grid {
      .img.responsive {
        height: 40vh;
      }
    }
  }
}

.membership_benefits {
  background: #40ba7b;
  color: white;
  padding: 50px 0;

  .wrapper {
    width: 90%;
    margin: auto;

    .md_heading {
      margin-bottom: 50px;
    }

    .grid {
      display: grid;
      grid-gap: 50px;
      text-align: center;

      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

      .item {
        text-align: center;
        .md_heading {
          width: 100%;
          margin-bottom: 20px;
        }

        .thin {
          width: 90%;
          margin: auto;
        }
      }
    }
  }

  .btn {
    margin-top: 80px;
    text-align: center;

    .md_btn {
      border: none;
      padding: 10px 20px;
    }
  }

  .sm_heading {
    color: white;
  }
}
