.latest_news.media {
  background: url(/images/landingpagebg.png) no-repeat right top;

  .thin.date {
    font-size: 0.85em;
    margin: 10px auto 20px auto;
    width: 85%;
  }

  .bold.title {
    margin-bottom: 0px;
    width: 85%;
    margin: auto;
  }

  .thin.description {
    margin: 0 auto 20px 0;
    padding: 0;
  }
}
