@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,700;0,900;1,500&display=swap");
.md_heading.center.top_margin {
  width: 63%;
  margin: auto;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.economy ul {
  list-style-type: none;
  padding-left: 0;
}

.economy ul li {
  margin-left: 10px;
  font-weight: 300;
  margin-bottom: 10px;
}

.economy ul .iconify {
  position: relative;
  top: 8px;
}

.header.agenda {
  background: url(../images/agenda.png) center center scroll no-repeat;
  background-size: cover;
}

.agenda_wrapper {
  width: 100%;
  background: url(../images/member.png) no-repeat center bottom;
  background-size: cover;
  padding-top: 20px;
}

.agenda_wrapper .agenda_news {
  margin-left: auto;
  padding-bottom: 50px;
}

.agenda_wrapper .agenda_news .news {
  width: 85%;
  margin: auto;
  padding-top: 60px;
}

.agenda_wrapper .agenda_news .news .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  padding-bottom: 50px;
}

.agenda_wrapper .agenda_news .news .cards .card {
  background: white;
  border-radius: 8px;
}

.agenda_wrapper .agenda_news .news .cards .card .text {
  padding: 20px 0px 0px 20px;
}

.agenda_wrapper .agenda_news .news .cards .card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 718px) {
  .agenda_wrapper .agenda_news .news {
    width: 65%;
  }
}

.agenda_member {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agenda_member .membership {
  background: url(../images/membership.png) no-repeat center center;
  width: 75%;
  margin: auto;
  padding: 50px;
}

.agenda_member .membership .md_heading {
  color: #ffffff;
}

.agenda_member .membership_text {
  width: 85%;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.agenda_member .membership_text .text {
  font-size: 0.9em;
  color: white;
  font-weight: 500;
}

.agenda_member .membership_text button {
  width: 130px;
  margin-right: auto;
  margin-left: 20px;
  border: none;
}

.agenda_member .membership_text button .btn_text {
  color: #40ba7b;
}

@media (max-width: 1200px) {
  .agenda_member .membership {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .agenda_member .membership {
    padding: 50px 20px;
  }
  .agenda_member .membership_text {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .agenda_member .membership_text button {
    margin-left: 0px;
  }
}

.key_focus {
  width: 90%;
  margin: 150px auto 20px auto;
  border-radius: 20px;
  padding: 50px 40px 50px 40px;
  color: white;
  background: #858585;
  background: linear-gradient(175deg, black 0%, black 50%, rgba(17, 1, 1, 0) 100%), url(../images/bottom.png) no-repeat bottom right;
}

.key_focus .number_cards {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  grid-gap: 40px 30px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.key_focus .number_cards .md_heading {
  color: #40ba7b;
}

.key_focus .number_cards .image {
  margin-bottom: 30px;
}

.key_focus .number_cards .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.action_words {
  width: 75%;
  margin: auto;
}

.action_words .number_cards {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  grid-gap: 40px 30px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.action_words .number_cards .md_heading {
  color: #40ba7b;
}

.action_words .number_cards .image {
  margin-bottom: 30px;
}

.action_words .number_cards .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.md_heading.center.top_margin {
  width: 63%;
  margin: auto;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.about_member {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_member .membership {
  background: url(../images/membership.png) no-repeat center center;
  width: 75%;
  margin: auto;
  padding: 50px;
}

.about_member .membership .md_heading {
  color: #ffffff;
}

.about_member .membership_text {
  width: 85%;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.about_member .membership_text .text {
  font-size: 0.9em;
  color: white;
  font-weight: 500;
}

.about_member .membership_text button {
  width: 130px;
  margin-right: auto;
  margin-left: 20px;
  border: none;
}

.about_member .membership_text button .btn_text {
  color: #40ba7b;
}

.sm_heading.name {
  font-size: 1.2em;
}

@media (max-width: 1200px) {
  .about_member .membership {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .about_member .membership {
    padding: 50px 20px;
  }
  .about_member .membership_text {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about_member .membership_text button {
    margin-left: 0px;
  }
}

.economy_grid .arrow li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.economy_grid .arrow li .text {
  padding-top: 12px;
  padding-left: 6px;
}

.team {
  background: url(../images/team.png) no-repeat center center;
}

.team .team_body {
  margin-left: auto;
  padding-bottom: 50px;
}

.team .team_body .news {
  width: 85%;
  margin: auto;
  padding-top: 60px;
}

.team .team_body .news .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  padding-bottom: 50px;
}

.team .team_body .news .cards .card {
  background: white;
  border-radius: 8px;
}

.team .team_body .news .cards .card .text {
  padding: 20px 0px 0px 20px;
}

.team .team_body .news .cards .card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 718px) {
  .team .team_body .news {
    width: 65%;
  }
}

@media (max-width: 718px) {
  .team {
    background: url(../images/team.png) repeat top left;
  }
  .team .team_body {
    width: 70%;
    margin: auto;
  }
}

.latest_news.team {
  background: none;
  padding-bottom: 100px;
}

.latest_news.team .news {
  width: 90%;
  padding-top: 0px;
}

.latest_news.team .news .thin {
  width: 70%;
}

.latest_news.team .news .cards {
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  margin: auto;
  width: 100%;
  grid-row-gap: 60px;
}

.latest_news.team .news .cards .card {
  cursor: pointer;
}

.latest_news.team .news .cards .card .sm_heading {
  margin-top: 30px;
  font-size: 1.3em;
  padding-left: 10px;
}

.latest_news.team .news .cards .card .bold {
  margin-bottom: 10px;
  padding-left: 10px;
}

@media screen and (max-width: 1000px) {
  .latest_news.team .news .thin {
    width: 90%;
  }
}

.other {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.green_economy {
  background: url(../images/greeneco.png);
  color: white;
  margin: 50px 0px;
  padding: 30px 0px;
}

@media (max-width: 800px) {
  .green_economy .img {
    display: none;
  }
  .history {
    display: none;
  }
}

.mission_vision_value {
  width: 80%;
  margin: 50px auto 100px auto;
}

.mission_vision_value .buttons {
  margin-bottom: 20px;
}

.mission_vision_value .buttons .mission_btn {
  cursor: pointer;
  font-family: Roboto;
  font-size: 1em;
  padding: 10px 65px;
  background: white;
  border: 1px solid #c4c4c4;
  border-radius: 8px 8px 0 0;
}

.mission_vision_value .mission_btn.active {
  color: white;
  background: #40ba7b;
}

.mission_vision_value .mission_text {
  display: none;
  width: 40%;
  margin-left: 40px;
}

.mission_vision_value .mission_text ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mission_vision_value .mission_text ul li {
  font-weight: 300;
}

.mission_vision_value .mission_text ul li .iconify {
  position: relative;
  top: 7px;
  margin-right: 10px;
}

.mission_vision_value .mission_text.show {
  display: block;
}

@media screen and (max-width: 1005px) {
  .mission_vision_value .mission_text {
    width: 70%;
    margin-left: 0;
  }
}

@media screen and (max-width: 690px) {
  .mission_vision_value .buttons .mission_btn {
    padding: 10px 20px;
  }
  .mission_vision_value .mission_text {
    width: 70%;
  }
}

.advisory_council {
  width: 74%;
  margin: auto;
}

.advisory_council .thin {
  width: 86%;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup_modal {
  display: none;
  background: white;
  width: 50%;
  margin: auto;
  padding: 50px 30px 10px 30px;
  border-radius: 10px;
  overflow: auto;
}

.popup_modal .grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.popup_modal .grid .bold {
  margin-bottom: 5px;
}

.popup_modal .grid .sm_heading {
  font-size: 1.3em;
}

.popup_modal .grid .thin {
  margin-top: 20px;
}

.popup_modal .grid .image img {
  height: auto;
  width: 100%;
}

.popup_modal .close_btn {
  margin-top: 80px;
  text-align: center;
}

.popup_modal .close_btn .close_popup {
  padding: 10px 30px;
  background: #40ba7b;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1220px) {
  .popup .popup_modal {
    width: 80%;
    padding: 20px 20px 10px 20px;
  }
  .popup .popup_modal .close_btn {
    margin-top: 50px;
  }
}

@media screen and (max-width: 678px) {
  .popup .popup_modal {
    width: 90%;
  }
  .popup .popup_modal .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .popup .popup_modal .grid .image {
    width: 200px;
    height: 200px;
  }
  .popup .popup_modal .close_btn {
    margin-top: 30px;
  }
}

.popup.show {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_modal.show {
  display: block;
}

.md_heading.center.top_margin {
  width: 63%;
  margin: auto;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.header.bg {
  background: url(../images/memberbg1.png) center center scroll no-repeat;
  background-size: cover;
}

.big_btn.all {
  padding: 8px 25px;
}

.economy.bg_text {
  margin-top: 5px;
}

.founding_members {
  margin: 100px 0;
}

.founding_members .md_heading {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.founding_members .img_grid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: (minmax(190px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  width: 80%;
  text-align: center;
  margin: auto;
}

.founding_members .img_grid .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.join {
  background: url(../images/greeneco.png) bottom;
  color: white;
  text-align: center;
  padding: 30px 0 50px 0;
}

.join .md_heading {
  width: 50%;
  margin: auto;
  padding-bottom: 10px;
}

.join .thin {
  margin-bottom: 80px;
}

.join .md_btn {
  border: none;
  padding: 10px 20px;
}

.agenda_wrapper.news {
  background: none;
}

.membership_category {
  width: 80%;
  margin: 60px auto;
}

.membership_category .wrapper {
  width: 90%;
  margin: 0 auto;
}

.membership_category .wrapper .grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.membership_category .wrapper .grid .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 1fr 2fr;
      grid-template-rows: 0.5fr 1fr 2fr;
}

.membership_category .wrapper .grid .item .thin {
  width: 70%;
}

.membership_category .wrapper .grid .item .pricing {
  margin-bottom: 10px;
}

.membership_category .wrapper .grid .item .md_heading {
  width: 100%;
  color: #40ba7b;
}

.membership_category .wrapper .grid .sm_heading {
  color: black;
}

@media screen and (max-width: 1000px) {
  .membership_category .wrapper {
    width: 100%;
  }
  .membership_category .wrapper .grid {
    grid-gap: 20px;
  }
  .membership_category .wrapper .grid .item .thin {
    width: 100%;
  }
}

@media screen and (max-width: 690px) {
  .membership_category .wrapper {
    width: 100%;
  }
  .membership_category .wrapper .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .membership_category .wrapper .grid .item .thin {
    width: 100%;
  }
  .membership_category .big_btn.all {
    position: relative;
    top: -50px;
  }
}

.promotion {
  width: 80%;
  margin: 150px auto;
}

.promotion .md_heading {
  color: #40ba7b;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 969px) {
  .promotion {
    margin: 0px auto 50px auto;
  }
}

@media (max-width: 719px) {
  .economy_grid .img.responsive {
    height: 40vh;
  }
}

.membership_benefits {
  background: #40ba7b;
  color: white;
  padding: 50px 0;
}

.membership_benefits .wrapper {
  width: 90%;
  margin: auto;
}

.membership_benefits .wrapper .md_heading {
  margin-bottom: 50px;
}

.membership_benefits .wrapper .grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  text-align: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.membership_benefits .wrapper .grid .item {
  text-align: center;
}

.membership_benefits .wrapper .grid .item .md_heading {
  width: 100%;
  margin-bottom: 20px;
}

.membership_benefits .wrapper .grid .item .thin {
  width: 90%;
  margin: auto;
}

.membership_benefits .btn {
  margin-top: 80px;
  text-align: center;
}

.membership_benefits .btn .md_btn {
  border: none;
  padding: 10px 20px;
}

.membership_benefits .sm_heading {
  color: white;
}

.header.greenstart {
  background: url(../images/yoebg.png) center center scroll no-repeat;
  background-size: fill;
}

.greenstart_ad {
  width: 50%;
  margin: auto;
}

.greenstart_ad .md_heading {
  color: #40ba7b;
  margin-top: 80px;
  width: 100%;
  text-align: center;
}

.greenstart_ad .bold {
  text-align: center;
  width: 70%;
  margin: auto;
  padding-bottom: 20px;
}

.greenstart_ad ul {
  list-style: none;
  padding: 0;
  width: 30%;
  margin: auto;
}

.greenstart_ad ul li {
  font-weight: 600;
  margin-top: 10px;
}

.greenstart_ad ul li .iconify {
  position: relative;
  top: 7px;
  margin-right: 10px;
}

.greenstart_ad .btn {
  width: 30%;
  margin: 40px auto 0 auto;
}

@media (max-width: 1235px) {
  .greenstart_ad {
    width: 80%;
  }
}

@media (max-width: 662px) {
  .greenstart_ad {
    width: 80%;
  }
  .greenstart_ad .btn {
    width: 60%;
  }
}

@media (max-width: 653px) {
  .greenstart_ad .md_heading {
    margin-top: 40px;
  }
  .greenstart_ad ul {
    width: 60%;
  }
  .greenstart_ad .bold {
    width: 90%;
    padding-bottom: 10px;
  }
}

.economy.unemployment {
  margin-top: 60px;
  background: none;
  padding-bottom: 10px;
}

.economy.unemployment .md_heading {
  width: 100%;
  color: #40ba7b;
}

@media screen and (max-width: 800px) {
  .economy.economy.unemployment .economy_grid .img {
    height: 40vh;
    position: relative;
    top: -20px;
  }
}

.mission_wrapper {
  background: #40ba7b;
  padding: 20px 0;
}

.mission_wrapper .economy.mission {
  background: transparent;
  color: white;
}

.mission_wrapper .economy.mission button {
  border: none;
  padding: 15px 0;
  color: #40ba7b;
}

@media screen and (max-width: 800px) {
  .mission_wrapper .economy_grid .img {
    height: 40vh;
    position: relative;
    top: -20px;
  }
}

.economy.approach {
  padding-top: 20px;
  background: url(../images/landingpagebg.png) no-repeat bottom right;
}

.economy.approach .md_heading {
  width: 100%;
  color: #40ba7b;
}

.economy.approach .btn {
  margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
  .economy.approach .img {
    display: none;
  }
}

.benefit {
  width: 65%;
  margin: 60px auto;
}

.benefit .md_heading {
  color: #40ba7b;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .benefit {
    width: 80%;
  }
}

.agenda_wrapper.main {
  background: none;
}

.agenda_wrapper.main .manifesto {
  background: linear-gradient(169deg, black 0%, black 35%, rgba(17, 1, 1, 0) 100%), url(../images/Group.png) right bottom;
  width: 90%;
  margin: 150px auto 20px auto;
  border-radius: 20px;
  padding: 50px 40px 50px 40px;
  margin-top: 40px;
  margin-bottom: 0;
}

.agenda_wrapper.main .manifesto ul {
  list-style-type: none;
  padding-left: 0;
  width: 50%;
  margin-bottom: 20px;
}

.agenda_wrapper.main .manifesto ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 9fr;
      grid-template-columns: 1fr 9fr;
  margin-left: 10px;
  font-weight: 300;
  margin-bottom: 10px;
}

.agenda_wrapper.main .manifesto ul li .text {
  padding-top: 10px;
}

.agenda_wrapper.main .manifesto ul .iconify {
  position: relative;
  top: 8px;
}

@media (max-width: 1000px) {
  .agenda_wrapper.main .manifesto ul {
    width: 100%;
  }
  .agenda_wrapper.main .manifesto ul li .text {
    padding-left: 5px;
  }
}

.agenda_wrapper.main .manifesto ul,
.agenda_wrapper.main .manifesto .md_heading {
  color: white;
}

.agenda_wrapper.main .manifesto ul {
  margin-bottom: 50px;
}

.agenda_wrapper.main .manifesto button {
  margin-bottom: 100px;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  background: white;
  z-index: 1;
}

nav img {
  margin-top: 20px;
  margin-left: 50px;
  height: 60px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-right: 7px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

nav ul a {
  color: black;
  font-weight: 600;
}

nav ul a.active,
nav ul a:hover {
  color: green;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav ul li {
  margin: 15px 14px;
}

nav #menu-icon {
  position: absolute;
  right: 20px;
  top: 2px;
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  display: none;
}

@media screen and (max-width: 1180px) {
  nav {
    border: none;
    background: transparent;
    position: static;
  }
  nav img {
    margin-top: 20px;
    width: 120px;
    height: 55px;
  }
  nav ul {
    position: fixed;
    margin-top: 0;
    height: 100vh;
    width: 100%;
    background: #38ad71;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -150%;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  nav ul li {
    font-size: 1.3em;
    font-weight: 600;
  }
  nav ul li a {
    color: white;
  }
  nav ul.show {
    top: 0;
  }
  nav #menu-icon {
    display: block;
  }
  .none {
    display: none;
    color: green;
  }
  .iconify.none {
    display: none;
  }
}

.md_heading.center.top_margin {
  width: 63%;
  margin: auto;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.contact {
  padding: 40px 30px;
}

.contact .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact .grid .form {
  color: white;
  width: 60%;
  margin: auto;
  background: #40ba7b;
  border-radius: 20px;
  padding: 20px 0 20px 20px;
}

.contact .grid .form .md_btn {
  width: 90%;
  margin: auto;
}

.contact .grid .form label,
.contact .grid .form input {
  display: block;
}

.contact .grid .form label {
  padding-bottom: 4px;
}

.contact .grid .form input {
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.contact .grid .form textarea {
  border-radius: 5px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
}

.contact .grid .form button {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  font-size: 0.97em;
  font-weight: 600;
  margin-top: 12px;
  border-radius: 4px;
  border: none;
  color: #40ba7b;
}

@media screen and (max-width: 1200px) {
  .contact .grid .form {
    width: 70%;
  }
}

@media screen and (max-width: 969px) {
  .contact .grid {
    grid-column-gap: 30px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
  }
  .contact .grid .form {
    margin: 10px 0px;
    width: 50%;
  }
}

@media screen and (max-width: 758px) {
  .contact .grid .form {
    width: 75%;
  }
}

@media screen and (max-width: 593px) {
  .contact {
    padding: 40px 10px;
  }
  .contact .grid .form {
    width: 100%;
  }
}

.iconify.social {
  position: relative;
  background: transparent;
  margin-bottom: 10px;
}

.iconify.social:hover {
  color: #40ba7b;
  cursor: pointer;
}

.contact_icons {
  margin-top: 30px;
  padding-left: 70px;
}

.contact_icons_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.contact_icons .icon_item {
  font-size: 1em;
  padding-left: 10px;
  padding-top: 5px;
}

.contact_icons .icon_item a {
  text-decoration: none;
  color: black;
}

.contact_icons .icon_item a:hover {
  color: #40ba7b;
}

.contact_icons .social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

.contact_icons .social_icons .item {
  margin-right: 10px;
}

.media_events {
  background: url(../images/landingpagebg.png) top center;
  background-repeat: repeat-x;
}

.media_events .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1.5fr;
      grid-template-columns: 3fr 1.5fr;
  grid-gap: 20px;
  width: 95%;
  margin: auto;
  padding: 40px 30px;
}

.media_events .grid_item {
  border-radius: 20px;
  padding: 35px 40px;
  background: #016937;
  color: white;
}

.media_events .grid_item ul {
  list-style-type: none;
  padding-left: 0;
}

.news_article {
  width: 80%;
  margin: 50px auto 0px auto;
  border-radius: 50px;
  padding: 30px;
  background: #eeeaea;
  -webkit-box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.news_article .article_img {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}

.news_article .article_img img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1100px) {
  .media_events .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .media_events .grid .grid_item.suggested {
    display: none;
  }
}

.article_header nav {
  border-bottom: 1px solid black;
}

.article_header nav ul a {
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.article_header nav ul a:hover {
  color: green;
}

.article_header nav i {
  color: black;
}

.latest_news.newscard {
  background: white;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 50px 100px;
}

.category .child {
  margin-right: 10px;
  font-weight: 600;
}

.category .child.green {
  color: #40ba7b;
}

.category .child.grey {
  color: #858585;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article .md_heading {
  width: 100%;
  margin-bottom: 50px;
}

.article .image {
  height: auto;
  width: 100%;
}

.article .image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.article_detail {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 40px 0;
}

.article_detail .child {
  margin-right: 10px;
  font-weight: 600;
}

.article_detail .child.green {
  color: #40ba7b;
}

.article_body {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 0 0 0 100px;
  width: 80%;
}

.article_body .article_text p {
  font-weight: 300;
}

.article_body .tag {
  font-size: 0.8em;
}

.article_body .tag .thin {
  color: #40ba7b;
}

.article .share_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 20px 5px 10px;
  border: 1.5px solid #858585;
  border-radius: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
}

.article .share_article .text {
  font-weight: 600;
}

.article .share_article .social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article .share_article .social_icons .item {
  margin-right: 5px;
}

.article .search {
  border: 1px solid #c4c4c4;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 20px 10px 40px 10px;
  margin: 0 30px;
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.article .search .iconify.search {
  float: right;
  position: relative;
  z-index: 2;
}

.article .search label {
  display: block;
}

.article .search input {
  padding: 10px;
  border: 0.2px solid #858585;
  border-radius: 8px;
  width: 90%;
  margin-left: 5px;
  font-family: "Roboto";
}

.article .search_btn {
  position: relative;
  top: 2.5px;
  left: -40px;
  z-index: 1;
  border: none;
  background: white;
  cursor: pointer;
  padding: 2px;
  font-size: 1.2em;
}

@media screen and (max-width: 1180px) {
  .article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .article_detail {
    width: 100%;
    font-size: 0.87em;
  }
  .article_body {
    width: 100%;
    padding: 0 20px;
  }
  .article .image {
    height: auto;
    width: 80%;
  }
  .article_header nav {
    border: none;
  }
  .article_header nav img {
    height: 40px;
    width: auto;
  }
  .article_header nav ul a {
    color: white;
  }
  .category {
    margin: 50px 20px;
    width: 98%;
    font-size: 0.95em;
  }
  .search {
    display: none;
  }
}

.header.news {
  background: url(../images/news.png) center center scroll no-repeat;
  background-size: cover;
}

.latest_news.media {
  background: url(../images/landingpagebg.png) no-repeat right top;
}

.latest_news.media .news .cards {
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin: auto;
  width: 96%;
}

.latest_news.media .thin.date {
  font-size: 0.85em;
  margin: 10px auto 20px auto;
  width: 85%;
}

.latest_news.media .bold.title {
  margin-bottom: 0px;
  width: 85%;
  margin: auto;
}

.latest_news.media .thin.description {
  margin: 0 auto 20px 0;
  padding: 0;
}

.header.policy {
  background: url(../images/policy.png) center center scroll no-repeat;
  background-size: cover;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.hidden {
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3px;
}

body a {
  text-decoration: none;
}

body a button {
  cursor: pointer;
}

body .big_btn {
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 7px;
  margin-right: 20px;
  border: none;
  background-color: #40ba7b;
  color: white;
  z-index: -1;
}

body .big_btn .btn_text {
  position: relative;
  top: -8px;
}

body .big_btn.show {
  display: none;
}

body .md_btn {
  font-weight: 600;
  padding: 5px 8px;
  border-radius: 7px;
  margin-bottom: 10px;
  border: 1px solid black;
  background-color: #ffffff;
  z-index: -1;
}

body .md_btn .btn_text {
  position: relative;
  top: -8px;
}

body .iconify {
  background-color: white;
  border-radius: 25px;
  margin-right: 5px;
}

body .iconify.show {
  display: none;
}

body .iconify-inline.show {
  display: none;
}

body .iconify-inline.social {
  background: #40ba7b;
  border-radius: 50%;
}

body .iconify-inline.link {
  border-radius: 0;
}

body .btn_work {
  position: relative;
  top: -7px;
  border-radius: 7px;
  border: none;
  padding: 23px 50px;
  font-weight: 600;
}

body .md_heading {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 15px;
  width: 60%;
}

body .sm_heading {
  font-weight: 600;
  margin-bottom: 10px;
  color: #40ba7b;
}

body .thin {
  font-weight: 300;
  margin-bottom: 30px;
}

body .bold {
  font-weight: 600;
  margin-bottom: 30px;
}

@media (max-width: 1000px) {
  body .md_heading {
    width: 98%;
  }
  body .big_btn {
    font-weight: 600;
    padding: 7px;
    border-radius: 7px;
    margin-right: 20px;
    border: none;
    background-color: #40ba7b;
    color: white;
  }
  body .btn_work {
    padding: 15px;
  }
}

body .header {
  height: 100vh;
  background: url(../images/Maskgroup.png) center center scroll no-repeat;
  background-size: cover;
}

body .landing_page {
  width: 78%;
  height: 100vh;
  margin: auto;
  color: #ffffff;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .landing_page .heading {
  font-size: 4em;
  font-weight: 800;
}

body .landing_page p {
  width: 70%;
  line-height: 25px;
  margin-bottom: 20px;
}

@media (max-width: 1180px) {
  body .landing_page {
    height: 80vh;
  }
}

@media (max-width: 768px) {
  body .landing_page p {
    width: 90%;
  }
}

body .economy {
  background: url(../images/landingpagebg.png) no-repeat top right;
  width: 80%;
  margin: auto;
}

body .economy .sm_heading {
  font-weight: 600;
  color: #40ba7b;
  margin: 80px 0 10px 0;
}

body .economy .img {
  height: 80vh;
}

body .economy .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .economy_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

body .economy_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .economy_description .bold {
  font-weight: 600;
  margin-bottom: 30px;
}

body .economy_description .md_heading {
  width: 90%;
}

body .economy_description button {
  width: 180px;
}

@media (max-width: 1290px) {
  body .economy {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  body .economy_grid {
    grid-gap: 30px;
  }
}

@media (max-width: 850px) {
  body .economy {
    width: 95%;
  }
}

@media (max-width: 800px) {
  body .economy_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

body .what_we_do {
  width: 90%;
  margin: 150px auto 20px auto;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(64, 186, 123, 0))), url(../images/Group.png) no-repeat right center;
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0.5), rgba(64, 186, 123, 0)), url(../images/Group.png) no-repeat right center;
  color: #ffffff;
  padding: 50px 0 50px 40px;
}

body .what_we_do .thin {
  width: 37%;
}

@media (max-width: 1000px) {
  body .what_we_do .thin {
    width: 60%;
  }
}

@media (max-width: 1200px) {
  body .what_we_do {
    background: -webkit-gradient(linear, left top, right top, from(black), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(12, 27, 19, 0.9))), url(../images/Group.png) no-repeat right center;
    background: linear-gradient(to right, black, rgba(0, 0, 0, 0.5), rgba(12, 27, 19, 0.9)), url(../images/Group.png) no-repeat right center;
  }
  body .what_we_do .thin {
    width: 98%;
  }
}

body .latest_news {
  margin: auto;
  padding-bottom: 50px;
}

body .latest_news .news {
  width: 85%;
  margin: auto;
  padding-top: 100px;
}

body .latest_news .news .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-bottom: 50px;
}

body .latest_news .news .cards .card {
  background: white;
  border-radius: 8px;
}

body .latest_news .news .cards .card .text {
  padding: 20px 0px 0px 20px;
}

body .latest_news .news .cards .card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1267px) {
  body .latest_news {
    background-size: cover;
  }
}

@media (max-width: 620px) {
  body .latest_news .cards {
    width: 75%;
    margin: auto;
  }
}

body .industry_insight {
  width: 85%;
  margin: auto;
  margin-top: 80px;
  padding: 30px 30px 60px 30px;
  background-color: #000;
  border-radius: 15px;
}

body .industry_insight .md_heading {
  color: #ffffff;
}

body .industry_insight .md_btn {
  width: 130px;
  height: 45px;
}

body .industry_insight .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}

body .industry_insight .cards .card {
  background-color: white;
  padding: 40px 30px 10px 30px;
  border-radius: 15px;
}

body .industry_insight .cards .card .report {
  color: black;
  width: 65%;
  font-weight: 600;
  padding-bottom: 10px;
}

body .industry_insight .cards .card .btns {
  margin-bottom: 100px;
}

body .industry_insight .cards .card .btn {
  margin-right: 5px;
  font-size: 0.7em;
  padding: 2px;
}

body .industry_insight .description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 20px;
}

body .industry_insight .thin {
  color: white;
  margin-right: 20px;
}

body .enterprise_voice {
  width: 75%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 2fr;
      grid-template-columns: 4fr 2fr;
  grid-gap: 15px;
  margin: 80px auto 80px auto;
}

body .enterprise_voice .green {
  background: #40ba7b;
  padding: 20px;
  color: white;
}

body .enterprise_voice .green input {
  font-family: "Roboto";
  padding: 10px 20px 10px 0;
  border: none;
  background: #40ba7b;
  color: white;
}

body .enterprise_voice .green input::-webkit-input-placeholder {
  color: white;
  font-family: "Roboto";
  font-size: 1.2em;
  font-weight: 300;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
}

body .enterprise_voice .green input:-ms-input-placeholder {
  color: white;
  font-family: "Roboto";
  font-size: 1.2em;
  font-weight: 300;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
}

body .enterprise_voice .green input::-ms-input-placeholder {
  color: white;
  font-family: "Roboto";
  font-size: 1.2em;
  font-weight: 300;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
}

body .enterprise_voice .green input::placeholder {
  color: white;
  font-family: "Roboto";
  font-size: 1.2em;
  font-weight: 300;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
}

body .enterprise_voice .green button {
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  color: #40ba7b;
}

body .enterprise_voice .voice {
  background: url(../images/voice.png) no-repeat center center;
  padding: 30px;
  color: #ffffff;
}

body .enterprise_voice .voice .thin {
  width: 70%;
}

@media (max-width: 1200px) {
  body .enterprise_voice {
    width: 90%;
  }
  body .enterprise_voice .voice .thin {
    width: 90%;
  }
}

@media (max-width: 737px) {
  body .enterprise_voice {
    width: 95%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

body .our_work {
  width: 75%;
  margin: auto;
}

body .our_work .cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

body .our_work .cards .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
  margin-right: 10px;
  margin-bottom: 40px;
  margin-top: 5px;
}

body .our_work .cards .card_description {
  color: #858585;
}

body .our_work .cards .card button {
  margin-left: 0;
  margin-right: auto;
  height: 40px;
}

body .our_work .cards .card .md_heading {
  font-size: 1.3em;
  margin-bottom: 0px;
  color: #40ba7b;
}

body .member {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../images/member.png) no-repeat left top;
}

body .member .membership {
  background: url(../images/membership.png) no-repeat center center;
  width: 75%;
  margin: auto;
  padding: 50px;
}

body .member .membership .md_heading {
  color: #ffffff;
}

body .member .membership_text {
  width: 85%;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

body .member .membership_text .text {
  font-size: 0.9em;
  color: white;
  font-weight: 500;
}

body .member .membership_text button {
  width: 130px;
  margin-right: auto;
  margin-left: 20px;
  border: none;
}

body .member .membership_text button .btn_text {
  color: #40ba7b;
}

@media (max-width: 1200px) {
  body .member .membership {
    width: 90%;
  }
}

@media (max-width: 800px) {
  body .member .membership {
    padding: 50px 20px;
  }
  body .member .membership_text {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body .member .membership_text button {
    margin-left: 0px;
  }
}

body footer {
  color: #858585;
}

body footer .contact_info {
  background: #121212;
  font-size: 0.8em;
  padding: 50px 50px 0px 50px;
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

body footer .contact_info img {
  height: 60px;
  width: 150px;
}

body footer .contact_info .column .phone {
  font-size: 1.25em;
  font-weight: 600;
  color: #40ba7b;
}

body footer .contact_info .column div {
  margin-bottom: 10px;
}

body footer .contact_info .column a {
  color: #858585;
  text-decoration: none;
}

body footer .privacy_policy {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
  font-size: 0.9em;
}

body footer .social_icons {
  margin-top: 100px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body footer .social_icons .item {
  margin-right: 10px;
  border: 1px solid #858585;
  border-radius: 50%;
  padding: 2px 3px 2px 3px;
}

body footer .social_icons .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 718px) {
  body .footer .privacy_policy {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 775px) {
  body {
    font-size: 0.8em;
  }
  body .md_heading {
    font-size: 1.3em;
  }
  body .heading {
    font-size: 2em;
  }
}
/*# sourceMappingURL=main.css.map */